<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:include="common/head :: head" />

<body>
<div class="layer"></div>
<!-- ! Body -->
<a class="skip-link sr-only" href="#skip-target">Skip to content</a>
<div class="page-flex">
  <!-- ! Sidebar -->
  <th:block th:include="common/sidebar :: sidebar" />

  <div class="main-wrapper">
    <!-- ! Main nav -->
    <th:block th:include="common/top-navigation :: nav" />

    <!-- ! Main -->
    <main class="main users chart-page" id="skip-target">
      <div class="container">
        <h2 class="main-title">Welcome text</h2>
        <article class="white-block">
          <form method="post">
            <input name="name" />
            <button type="submit">Сохранить</button>
          </form>
        </article>
      </div>
    </main>
    <!-- ! Footer -->
    <th:block th:include="common/footer :: footer" />
  </div>
</div>
<th:block th:include="common/scripts :: scripts" />
</body>
</html>
